/* Styles that are specific to the front page, but are still global */

/* Curved line */
.curved-line {
    width: 20vw;
    height: 100vh;
    border: 0.7vw solid var(--black-color);
    border-top: none;
    border-radius: 0 0 50vw 50vw;
}

/* Generate an infinitely rotating div clockwise*/
.rotating-tile-infinite-clockwise {
    animation: rotate-infinite-clockwise 10s linear infinite;
}
    
/* Generate an infinitely rotating div counter-clockwise */
.rotating-tile-infinite-counter-clockwise {
    animation: rotate-infinite-counter-clockwise 10s linear infinite;
}

/* Component specific styles */

.title {
    font-size: clamp(5vh, 10vw, 15vh);
    color: var(--header-color);
    text-shadow: 0 0 2vh var(--black-color);
}

/* Hexagon tile styling */
.hexagon {
    aspect-ratio: 1 / 0.866; /* ~1.1547 */
    clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
}

/* ///// KEYFRAMES ///// */

/* Keyframes for infinite rotation clockwise */
@keyframes rotate-infinite-clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Keyframes for infinite rotation counter-clockwise */
@keyframes rotate-infinite-counter-clockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}