/* Represents the general underlying settings and frequently used variables for my react app */

:root {
    /* Variables */
    --text-color: rgb(43, 43, 43);

    --box-shadow-color: rgba(0, 0, 0, 0.3);
    --black-color: rgba(0, 0, 0, 0.8);
    --moderate-gray: rgb(146, 146, 146);
    --header-color: rgb(233, 233, 233);
    --dark-header-color: rgb(200, 200, 200);
    --greyish-blue: rgb(150, 171, 187);
}

/* General page with scrollable width but not height */
html, body {
    width: 100vw;
    height: 100vh;
    min-width: 800px;
    min-height: 600px;
    margin: 0;
    padding: 0;
    background-color: rgb(172, 219, 255);
    overflow: auto;
}

#root {
    position: relative; 
    width: 100%;
    height: 100%;
    min-width: 800px;
    min-height: 600px;
}

h1, h2 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    text-shadow: 0 0 0.3vw var(--black-color);
}

h3, h4, h5 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    text-shadow: 0 0 0.1vw var(--black-color);
}

p {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    color: var(--text-color)
}

button {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

div {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

label, select {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    color: var(--text-color);
}

select {
    background-color: transparent;
    border: 0.2vw solid var(--moderate-gray);
    border-radius: 2vw;
    outline: none;
    color: var(--text-color);
    text-align: center;
}

input {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    outline: none;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}