/* Represents the styling for the main page of the application */

.popup-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--box-shadow-color);
    z-index: 2;
    overflow: auto;
}

.popup-content {
    position: relative; /* no longer absolutely centered */
    background-color: var(--greyish-blue);
    border-radius: 5vw;
    border: 0.2vw solid var(--header-color);
    padding: 2%;
    box-shadow: 0 0 3% var(--box-shadow-color);
    z-index: 3;
    max-height: 90vh;          /* prevents overflow */
    overflow-y: auto;          /* makes content scroll if needed */
    width: 90%;
    max-width: 600px;
}

.popup-content h2 {
    text-align: center;
    color: var(--dark-header-color);
    font-size: 1.5vw;
}