/* Represents the styling for the main page of the application */

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dim-background-color);
    z-index: 100;
    overflow: auto;
}

.popup-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--greyish-blue);
    border-radius: 5vw;
    border: 0.2vw solid var(--header-color);
    box-shadow: 0 0 3% var(--box-shadow-color);
    max-height: 90vh;
    width: 35%;
    padding: 2vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.popup-content {
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-content h2 {
    text-align: center;
    color: var(--dark-header-color);
    font-size: 1.5vw;
}

.left-side-tile-list {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: var(--dark-header-color);
    border-right: 0.5vw solid var(--header-color);
}

.left-side-tile-list-scroll-pane {
    position: absolute;
    top: 12%;
    left: 10%;
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.tile-window {
    width: 98%;
    height: 25%;
    border-radius: 2vw;
    background-color: var(--box-shadow-color);
    border: 0.2vw solid var(--header-color);
    margin: 1vw;
    box-sizing: border-box;
    flex-shrink: 0;
    transition: background-color 0.3s ease;
}

.tile-window:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.grid-board {
    position: absolute;
    top: 50%;
    left: 55%;
    display: grid;
    transform: translate(-50%, -50%);
    border: 0.3vw solid var(--text-color);
}

.hex-board {
    position: absolute;
    height: 60%;
    top: 47%;
    left: 55%;
}

.grid-coord {
    width: 100%;
    height: 100%;
    border: 0.2vw solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-coord:hover {
    background-color: var(--box-shadow-color);
    cursor: pointer;
}

.hex-coord {
    position: absolute;
    aspect-ratio: 0.86602540378;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: var(--text-color);
}

.hex-coord-inner {
    position: absolute;
    width: 95%;
    aspect-ratio: 0.86602540378;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-coord-inner:hover {
    background-color: rgba(82, 136, 155, 0.5);
    cursor: pointer;
}